In [35]:
import pandas as pd

In [36]:
df = pd.read_csv("C:\\Users\Siam\Downloads\homeprices.csv")

In [37]:
df.head()

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000

In [38]:
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [39]:
df.head()

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000

In [40]:
df.bedrooms.isnull().sum()

1

In [41]:
import math 
med = math.floor(df.bedrooms.median())

In [42]:
df.bedrooms=  df.bedrooms.fillna(med)

In [43]:
from  sklearn.linear_model import LinearRegression
reg = LinearRegression() 
reg.fit(df.drop(columns=['price'] ,axis = 1) , df.price)

LinearRegression()