In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("C:\\Users\Siam\Desktop\machine learning\data.csv")
df.head()

,PassengerId,Name,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
0,1,"Braund, Mr. Owen Harris",3,male,22.0,1,0,A/5 21171,7.2500,NaN,S,0
1,2,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,female,38.0,1,0,PC 17599,71.2833,C85,C,1
2,3,"Heikkinen, Miss. Laina",3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1
3,4,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,female,35.0,1,0,113803,53.1000,C123,S,1
4,5,"Allen, Mr. William Henry",3,male,35.0,0,0,373450,8.0500,NaN,S,0

In [15]:
X = df.drop(columns=['PassengerId' , 'Name' ,'Parch', 'SibSp' , 'Ticket' , 'Cabin' , 'Embarked','Survived' ] , axis =1 ) 
y = df['Survived']

In [16]:
X.head()

   Pclass     Sex   Age     Fare
0       3    male  22.0   7.2500
1       1  female  38.0  71.2833
2       3  female  26.0   7.9250
3       1  female  35.0  53.1000
4       3    male  35.0   8.0500

In [17]:
y.head()

0    0
1    1
2    1
3    1
4    0
Name: Survived, dtype: int64

In [18]:
df

,PassengerId,Name,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
0,1,"Braund, Mr. Owen Harris",3,male,22.0,1,0,A/5 21171,7.2500,NaN,S,0
1,2,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,female,38.0,1,0,PC 17599,71.2833,C85,C,1
2,3,"Heikkinen, Miss. Laina",3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1
3,4,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,female,35.0,1,0,113803,53.1000,C123,S,1
4,5,"Allen, Mr. William Henry",3,male,35.0,0,0,373450,8.0500,NaN,S,0
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,"Montvila, Rev. Juozas",2,male,27.0,0,0,211536,13.0000,NaN,S,0
887,888,"Graham, Miss. Margaret Edith",1,female,19.0,0,0,112053,30.0000,B42,S,1
888,889,"Johnston, Miss. Catherine Helen ""Carrie""",3,female,NaN,1,2,W./C. 6607,23.4500,NaN,S,0
889,890,"Behr, Mr. Karl Howell",1,male,26.0,0,0,111369,30.0000,C148,C,1
890,891,"Dooley, Mr. Patrick",3,male,32.0,0,0,370376,7.7500,NaN,Q,0

In [19]:
inputs = X 
target = y

In [20]:
dummies = pd.get_dummies(inputs.Sex,dtype=int )
dummies

     female  male
0         0     1
1         1     0
2         1     0
3         1     0
4         0     1
..      ...   ...
886       0     1
887       1     0
888       1     0
889       0     1
890       0     1

[891 rows x 2 columns]

In [21]:
inputs = pd.concat([inputs , dummies ] ,axis = 'columns'  ) 
inputs

     Pclass     Sex   Age     Fare  female  male
0         3    male  22.0   7.2500       0     1
1         1  female  38.0  71.2833       1     0
2         3  female  26.0   7.9250       1     0
3         1  female  35.0  53.1000       1     0
4         3    male  35.0   8.0500       0     1
..      ...     ...   ...      ...     ...   ...
886       2    male  27.0  13.0000       0     1
887       1  female  19.0  30.0000       1     0
888       3  female   NaN  23.4500       1     0
889       1    male  26.0  30.0000       0     1
890       3    male  32.0   7.7500       0     1

[891 rows x 6 columns]

In [22]:
inputs = inputs.drop(['Sex'] , axis =1 )

In [23]:
inputs

     Pclass   Age     Fare  female  male
0         3  22.0   7.2500       0     1
1         1  38.0  71.2833       1     0
2         3  26.0   7.9250       1     0
3         1  35.0  53.1000       1     0
4         3  35.0   8.0500       0     1
..      ...   ...      ...     ...   ...
886       2  27.0  13.0000       0     1
887       1  19.0  30.0000       1     0
888       3   NaN  23.4500       1     0
889       1  26.0  30.0000       0     1
890       3  32.0   7.7500       0     1

[891 rows x 5 columns]

In [24]:
inputs

     Pclass   Age     Fare  female  male
0         3  22.0   7.2500       0     1
1         1  38.0  71.2833       1     0
2         3  26.0   7.9250       1     0
3         1  35.0  53.1000       1     0
4         3  35.0   8.0500       0     1
..      ...   ...      ...     ...   ...
886       2  27.0  13.0000       0     1
887       1  19.0  30.0000       1     0
888       3   NaN  23.4500       1     0
889       1  26.0  30.0000       0     1
890       3  32.0   7.7500       0     1

[891 rows x 5 columns]

In [39]:
inputs.isnull().sum()

Pclass      0
Age       177
Fare        0
female      0
male        0
dtype: int64

In [42]:

inputs['Age'] = inputs['Age'].fillna(inputs['Age'].median())
inputs['Age'].isnull().sum()

0

In [43]:
from sklearn.model_selection import train_test_split 
X_train , X_test , y_train , y_test  = train_test_split (inputs , target , test_size = 0.2 )

In [44]:
len(X_train)

712

In [45]:
import matplotlib.pyplot as plt 
%matplotlib inline

In [46]:
X_train.isnull().sum()

Pclass    0
Age       0
Fare      0
female    0
male      0
dtype: int64

In [47]:
from sklearn.naive_bayes import GaussianNB 
model = GaussianNB() 
model.fit(X_train , y_train )

GaussianNB()

In [48]:
model.score(X_test, y_test)

0.7150837988826816

In [49]:
#here another implementation

In [50]:
df = pd.read_csv("C:\\Users\Siam\Desktop\machine learning\data.csv")

In [51]:
df.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [52]:
df.groupby('Category').describe()

         Message                                                            \
           count unique                                                top
Category
ham         4825   4516                             Sorry, I'll call later
spam         747    641  Please call our customer service representativ...


         freq
Category
ham        30
spam        4

In [53]:
df['spam'] = df['Category'].apply(lambda x:1 if x=='spam' else 0 ) 
df.head()

  Category                                            Message  spam
0      ham  Go until jurong point, crazy.. Available only ...     0
1      ham                      Ok lar... Joking wif u oni...     0
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...     1
3      ham  U dun say so early hor... U c already then say...     0
4      ham  Nah I don't think he goes to usf, he lives aro...     0

In [54]:
df['Category'].unique()

array(['ham', 'spam'], dtype=object)

In [55]:
from sklearn.model_selection import train_test_split 
X_train , X_test , y_train , y_test  = train_test_split (df.Message , df.spam , test_size  = 0.25)

In [57]:
from sklearn.feature_extraction.text import CountVectorizer

In [58]:
v= CountVectorizer()
X_train_count = v.fit_transform(X_train.values) 

X_train_count.toarray()[:3]

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [60]:
from sklearn.naive_bayes  import MultinomialNB 
model= MultinomialNB() 
model.fit(X_train_count , y_train)

MultinomialNB()

In [61]:
emails = [" siam arefin is a ML engineeri "] 
enails_count  = v.transform(emails) 
model.predict(enails_count)

array([0], dtype=int64)

In [63]:
X_test_count = v.transform(X_test) 
model.score(X_test_count , y_test)

0.9813352476669059

In [64]:
from sklearn.pipeline import Pipeline 
clf = Pipeline([
    ('vectorizer' , CountVectorizer()) , 
    ('nb' , MultinomialNB())])

In [65]:
clf.fit(X_train , y_train)

Pipeline(steps=[('vectorizer', CountVectorizer()), ('nb', MultinomialNB())])

In [66]:
clf.score(X_test , y_test)

0.9813352476669059